            <!-- Start Page content -->
            <div class="content">
              <div class="container-fluid">

                 <div class="row">
                    <div class="col-sm-12">
                       <div class="card-box">
                          <div class="mb-3">
                             <div class="row">
                                <div class="col-6 text-sm-center form-inline">
                                   <div class="form-group mr-2">
                                      <a routerLink="/home/proprietaire/new"
                                         *ngxPermissionsOnly="['create_proprietaire']"
                                         id="btn-addrow" 
                                         class="btn btn-primary">
                                          <i class="mdi mdi-plus-circle mr-2"></i> 
                                          Ajouter
                                      </a>
                                   </div>
                                   <div class="form-group">
                                      <input id="input-search" type="text" 
                                             name='keyword' [(ngModel)]='keyword' (keyup)='onKeyp($event)'
                                             placeholder="Chercher" class="form-control" autocomplete="off">
                                   </div>
                                </div>
                                <div class="col-6">
                                        <div class="pull-right">
                                                <button type="button" [hidden]="!isRowsSelected"
                                                        class="btn btn-danger waves-light waves-effect mr-2"
                                                        (click)='onDeleteSeletedRows()'>
                                                   Supprimer sélections
                                                </button>
                                                <div class="btn-group">
                                                      <button type="button" class="btn btn-light dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"> 
                                                         Plus<span class="caret"></span> 
                                                      </button>
                                                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start">
                                                            <a href="javascript:void(0);"
                                                               data-href="#custom-modal"
                                                               class="dropdown-item" 
                                                               data-animation="flip"
                                                               data-plugin="custommodal"
                                                               data-overlaySpeed="100"
                                                               data-overlayColor="#36404a">Importer
                                                            </a>
                                                            <a class="dropdown-item" href="javascript:void(0);" (click)='onExporter()'>Exporter</a>
                                                            <a class="dropdown-item" href="javascript:void(0);" (click)='onGeneratePDF()'>Etat</a>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                             </div>
                          </div>
                          <ag-grid-angular 
                              #agGrid
                              style="width: 100%; height: 600px;" 
                              class="ag-theme-material"
                              [enableSorting]="true"
                              [enableFilter]="true"
                              [rowData]="rowData" 
                              [columnDefs]="columnDefs"
                              [enableColResize]="true"
                              [localeText]="globalObject.localeText"
                              [getRowNodeId]="getRowNodeId"
                              rowSelection="multiple"
                              pagination=true
                              paginationPageSize=10
                              (rowClicked)="onRowClicked($event)"
                              (rowDoubleClicked) = "onDoubleRowClicked($event)"
                              (rowSelected) = "onRowSelected($event)"
                              (gridReady)="onGridReady($event)"
                              >
                          </ag-grid-angular>
                       </div>
                    </div>
                 </div>
                 <!-- end row -->
              </div>
              <!-- container -->
           </div>
           <!-- content -->

            <!-- Import-modal -->
            <div id="custom-modal" class="modal-demo">
               <button type="button" class="close" onclick="Custombox.close();">
                     <span>&times;</span><span class="sr-only">Close</span>
               </button>
               <h4 class="custom-modal-title">Importer</h4>
               <div class="custom-modal-text">
                        <div class="ustify-content-center">
                           <form class="drag-nd-drop-upload" 
                                 (ngSubmit)="onImporter()"
                                 id="dragNdDropForm"
                                 #dragNdDropForm="ngForm">

                                    <input #uploadFileRef
                                           #uploadFile="ngModel"
                                           [(ngModel)]="uploadFileModel"
                                           name="uploadFile"
                                           id="uploadFile"
                                           required
                                           class="upload-file"
                                           type="file" 
                                           required>
                                    <p>Faites glisser vos fichiers ici ou cliquez dans cette zone.</p>
                            </form>
                            <button form="dragNdDropForm" [disabled]="!dragNdDropForm.form.valid"
                                    class="btn btn-custom btn-block btn-upload-mg waves-effect waves-light mt-1">
                               Importer
                            </button> 
                        </div>
                        <!-- end row -->
               </div>
            </div>