    <!-- Signup modal content -->
    <div id="changeCoproprieteExercice-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="modal-body">
                  <h2 class="text-uppercase text-center m-b-30">
                      <a href="index.html" class="text-success">
                          <span><img src="assets/images/logo.png" alt="" height="28"></span>
                      </a>
                  </h2>

                <!-- <div class="form-group m-b-25"> -->
                <div class="row row-cop">
                    <div class="col-12 cop-exer exercice-input">
                        <label for="currentPassword_123">Coproprieté</label>
                            <ng-select 
                            [items]="listeCoproprietes"
                            class="select-copropriete"
                            bindLabel="nom"
                            bindValue="id_copropriete_primaire"
                            placeholder="Select coproptietaire"
                            (change)="onChangeCopropriete($event)"
                            [(ngModel)]="selectedCopropriete">
                            </ng-select>
                      </div>
                </div>
                <!-- </div> -->
                <!-- <div class="form-group m-b-25"> -->
                <div class="row">
                    <div class="col-12 cop-exer exercice-input">
                        <label for="currentPassword_123">Exercice</label>
                            <ng-select
                            [items]="listeExercice"
                            class="select-exercice"
                            bindLabel="exercice"
                            bindValue="exercice"
                            placeholder="Select exercice"
                            (change)="onChangeExercice($event)"
                            [(ngModel)]="selectedExercice">
                            </ng-select>
                      </div>
                </div>
                <!-- </div> -->

              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->