<div class="prop-block">
<div class="card-box">
      <div class="mb-3">
      <div class="row">
            <div class="col-4 text-sm-center form-inline">
                  <a    *ngIf="isAssignedList == 'assigned_list'"
                        (click)="onProprietesAffectationSwitch($event)"
                        href="javascript:void(0);"
                        id="goForward"
                        class="btn btn-outline-purple btn-rounded waves-effect waves-light btn-nav-removeClass"
                        data-is_assigned_list="assigned_list">Affecter proprietés
                  </a>
                  <a    *ngIf="isAssignedList == 'unassigned_list'"
                        (click)="onProprietesAffectationSwitch($event)"
                        href="javascript:void(0);"
                        id="goBackward"
                        class="btn btn-outline-purple btn-rounded waves-effect waves-light btn-nav-removeClass"
                        data-is_assigned_list="unassigned_list">Retour
                  </a>
            </div>
            <div class="col-4 text-sm-center list-title">
                  <h4 class="header-title" *ngIf="isAssignedList == 'assigned_list'">Proprietes afféctés</h4>
                  <h4 class="header-title" *ngIf="isAssignedList == 'unassigned_list'">Toutes les Proprietes</h4>
            </div>
            <div class="col-4" [hidden]="!isRowsSelected_unassignedList">
                  <button type="button"
                        class="btn btn-outline-danger btn-rounded waves-light waves-effect pull-right"
                        (click)='onDesaffecterSeletedRows()'>
                        Désaffecter sélections
                  </button>
            </div>
            <div class="col-4" [hidden]="!isRowsSelected_assignedList">
                  <button type="button"
                        class="btn btn-outline-danger btn-rounded waves-light waves-effect pull-right"
                        (click)='onAffecterSeletedRows()'>
                        Affecter sélections
                  </button>
            </div>
      </div>
      </div>
      <div class="tab-content prop-tab">
            <div class="tab-pane show active" id="assigned-proprietes">
                  <ag-grid-angular 
                        #agGrid
                        style="width: 100%; height: 600px;" 
                        class="ag-theme-material"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                        [enableColResize]="true"
                        [localeText]="globalObject.localeText"
                        [getRowNodeId]="getRowNodeId"
                        rowSelection="multiple"
                        pagination=true
                        paginationPageSize=10
                        (rowClicked)="onRowClicked($event)"
                        (rowDoubleClicked) = "onDoubleRowClicked($event)"
                        (rowSelected) = "onRowSelected($event)"
                        (gridReady)="onGridReady($event)"
                        >
                  </ag-grid-angular>
            </div>
            <div class="tab-pane" id="new-proprietes-to-assign">
                  <div class="nav prop-nav">
                        <a    href="#assigned-proprietes"
                              data-toggle="tab" 
                              aria-expanded="false"
                              class="btn btn-outline-custom btn-rounded waves-light waves-effect btn-nav-removeClass">
                              <i class="mdi mdi-arrow-left-bold"></i>
                              Retour
                        </a>
                  </div>

                  <!-- <ag-grid-angular 
                  #agGrid
                  style="width: 100%; height: 600px;" 
                  class="ag-theme-material"
                  [enableSorting]="true"
                  [enableFilter]="true"
                  [rowData]="rowData"
                  [columnDefs]="columnDefs"
                  [enableColResize]="true"
                  [localeText]="globalObject.localeText"
                  [getRowNodeId]="getRowNodeId"
                  rowSelection="multiple"
                  pagination=true
                  paginationPageSize=10
                  (rowClicked)="onRowClicked($event)"
                  (rowDoubleClicked) = "onDoubleRowClicked($event)"
                  (rowSelected) = "onRowSelected($event)"
                  (gridReady)="onGridReady($event)"
                  >
                  </ag-grid-angular> -->

                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                  <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
            </div>
      </div>
</div>
</div> 