 <!-- ========== Left Sidebar Start ========== -->
 <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
       <!-- LOGO -->
       <div class="topbar-left">
          <a href="index.html" class="logo">
             <span>
             <img src="assets/images/logo.png" alt="" height="22">
             </span>
             <i>
             <img src="assets/images/logo_sm.png" alt="" height="28">
             </i>
          </a>
       </div>
       <!-- User box -->
       <div class="user-box">
          <h5><a routerLink="/">{{userLoggedIn}}</a></h5>
          <p class="text-muted">{{ copropriete }} - {{ exercice }}</p>
       </div>
       <app-home-sidebar *ngIf="globalObject.side == 'home'"></app-home-sidebar>
       <app-comptabilite-sidebar *ngIf="globalObject.side == 'comptabilite'"></app-comptabilite-sidebar>
       <app-rapport-sidebar *ngIf="globalObject.side == 'rapport'"></app-rapport-sidebar>

       <div class="clearfix"></div>
    </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->