<!--- Sidemenu -->
        <div id="sidebar-menu">
           <ul class="metismenu" id="side-menu">
              <!--<li class="menu-title">Navigation</li>-->
              <li>
                 <a routerLink="/" routerLinkActive="active" aria-expanded="false">
                 <i class="fi-air-play"></i> <span>Tableau de bord</span>
                 </a>
              </li>
              <li>
                 <a href="javascript: void(0);" aria-expanded="true">
                   <i class="fi-layers"></i> 
                   <span>Rapports</span><span class="menu-arrow"></span>
                 </a>
                 <ul class="nav-second-level collapse in" aria-expanded="true">
                    <li routerLinkActive="active"><a routerLink="rapport/comptabilite" routerLinkActive="active" >Comptabilite</a></li>
                    <li routerLinkActive="active"><a routerLink="/home/proprietaire/liste" routerLinkActive="active" >Rapport 2</a></li>
                 </ul>
              </li>
           </ul>
        </div>
        <!-- Sidebar -->