    <!-- Signup modal content -->
    <div id="resetPassword-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
   
                <div class="modal-body">
                    <h2 class="text-uppercase text-center m-b-30">
                        <a href="index.html" class="text-success">
                            <span><img src="assets/images/logo.png" alt="" height="28"></span>
                        </a>
                    </h2>
  
  
                    <form #changePwdForm="ngForm" class="form-horizontal">
  
                      <div class="form-group m-b-25">
                        <div class="col-12">
                            <label for="resetEmail">Email</label>
                            <input class="form-control" type="email" id="resetEmail" 
                                   name="resetEmail" ngModel
                                   required="" placeholder="Entrer votre e-mail">
                          </div>
                      </div>
                      <div class="form-group account-btn text-center m-t-10">
                        <div class="col-12">
                            <button class="btn w-lg btn-rounded btn-primary waves-effect waves-light" 
                                    type="submit" (click)="send(changePwdForm)">
                            Envoyer
                            </button>
                        </div>
                     </div>
    
                    </form>
  
  
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->