      <!-- Start Page content -->
      <div class="content">
        <div class="container-fluid">
                  <div class="row">
                        <div class="col-lg-6">
                        <div class="card-box">
                              <h4 class="header-title m-t-0 m-b-30">Affectation</h4>
                               <div class="row">
                                        <div class="form-group mr-2 col-3">
                                                <a (click)="onValidate()"
                                                   id="btn-addrow"
                                                   class="btn btn-success btn-rounded waves-light">
                                                        <i class="mdi mdi-check-circle-outline mr-2"></i> 
                                                        Valider
                                                </a>
                                        </div>
                                </div>
                              <div class="row">
                                <div class="col-lg-6">
                                        <ng-select 
                                        [items]="listeRoles"
                                        class="select-role"
                                        bindLabel="name"
                                        bindValue="id"
                                        placeholder="Select Role"
                                        (change)="onChangeRole($event)"
                                        [(ngModel)]="selectedRole"
                                        notFoundText="Aucun élément trouvé">
                                        </ng-select>
                                </div>
                                <div class="col-lg-6">
                                        <ng-select 
                                        [items]="listeGroupes"
                                        class="select-groupe"
                                        bindLabel="description"
                                        bindValue="id"
                                        placeholder="Select Groupe"
                                        (change)="onChangeGroupe($event)"
                                        [(ngModel)]="selectedGroupe"
                                        notFoundText="Aucun élément trouvé">
                                        </ng-select>
                                </div>
                              </div>
                              <div class="form-group">
                                        <ag-grid-angular 
                                                #agGrid
                                                style="width: 100%; height: 450px;" 
                                                class="ag-theme-material"
                                                [enableSorting]="true"
                                                [enableFilter]="true"
                                                [rowData]="rowData" 
                                                [columnDefs]="columnDefs"
                                                [enableColResize]="true"
                                                [localeText]="globalObject.localeText"
                                                [getRowNodeId]="getRowNodeId"
                                                rowSelection="multiple"
                                                pagination=true
                                                paginationPageSize=7
                                                (gridReady)="onGridReady($event)"
                                                (rowClicked)="onRowClicked($event)">
                                        </ag-grid-angular>
                              </div>
                        </div>
                        </div>
                        <!-- end col -->
                        <div class="col-lg-6">
                        <div class="card-box">
                              <h4 class="header-title m-t-0 m-b-30">Gestion</h4>
                               <div class="new mb-5">
                                 <div class="row">
                                                <div class="col-lg-12">
                                                        <label for="newRole">Nouveau role</label>
                                                </div>
                                </div>
                                <div class="row">
                                <form class="was-validated form-inline w-100" #newRoleForm="ngForm" (ngSubmit)="onNewRole(newRoleForm)">
                                        <div class="col-lg-9">
                                                <input class="form-control w-100" 
                                                        id="newRole"
                                                        name="newRole" 
                                                        placeholder="Ajouter role"
                                                        [(ngModel)]="newRole"
                                                        type="text"
                                                        #newRoleTemplate="ngModel"
                                                        required> 
                                        </div>
                                        <div class="col-lg-3">
                                                <button 
                                                        type="submit"
                                                        class="btn btn-success btn-rounded waves-light w-100" 
                                                        [disabled]="!newRoleForm.form.valid">
                                                        Ajouter
                                                </button>
                                        </div>
                                </form>
                                 </div>
                                </div>
                                <hr/>
                                <div class="edit mt-4">
                                        <div class="row">
                                                        <div class="col-lg-12">
                                                                <label for="edit_role">Editer role</label>
                                                        </div>
                                        </div>
                                        <form class="was-validated" #updateRoleForm="ngForm" (ngSubmit)="onUpdateRole(updateRoleForm)">
                                        <div class="row">
                                                <div class="col-lg-6">
                                                        <ng-select 
                                                        [items]="listeEditRoles"
                                                        class="select-edit-role"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        placeholder="Select Role"
                                                        (change)="onChangeEditRole($event)"
                                                        [(ngModel)]="selectedEditRole"
                                                        notFoundText="Aucun élément trouvé"
                                                        name="selectedEditRole">
                                                        </ng-select>
                                                </div>
                                                <div class="col-lg-6">
                                                               <input class="form-control w-100"
                                                               id="editRole"
                                                               name="editRole"
                                                               placeholder="Modifier role"
                                                               [(ngModel)]="editRole"
                                                               type="text"
                                                               #editRoleTemplate="ngModel">
                                                </div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                                <div class="col-lg-3">
                                                        <button type="submit" class="btn btn-success btn-rounded waves-light w-100">Modifier</button>
                                                </div>
                                                <div class="col-lg-3"> 
                                                        <button type="button" (click)="onDeleteRole()" class="btn btn-danger btn-rounded waves-light w-100">Supprimer</button>
                                                </div>
                                        </div>
                                        </form>
                                </div>
                        </div>
                        </div>
                        <!-- end col -->
                        </div>
                        <!-- end row -->
      </div>
        <!-- container -->

     </div>
     
     <!-- content -->