<!--- Sidemenu -->
        <div id="sidebar-menu">
           <ul class="metismenu" id="side-menu">
              <!--<li class="menu-title">Navigation</li>-->
              <li>
                 <a routerLink="/" routerLinkActive="active" aria-expanded="false">
                 <i class="fi-air-play"></i> <span>Tableau de bord</span>
                 </a>
              </li>
              <li>
                 <a href="javascript: void(0);" aria-expanded="true">
                   <i class="fi-layers"></i> 
                   <span>Proprietaire</span><span class="menu-arrow"></span>
                 </a>
                 <ul class="nav-second-level collapse in" aria-expanded="true">
                    <li routerLinkActive="active" 
                        *ngxPermissionsOnly="['create_proprietaire']">
                        <a routerLink="/home/proprietaire/new" routerLinkActive="active" >Nouveau proprietaire</a>
                    </li>
                    <li routerLinkActive="active" 
                        *ngxPermissionsOnly="['display_proprietaire']">
                        <a routerLink="/home/proprietaire/liste" routerLinkActive="active" >Liste proprietaire</a>
                    </li>
                    <li routerLinkActive="active"
                        *ngxPermissionsOnly="['restore']">
                        <a routerLink="/home/proprietaire/trash" routerLinkActive="active">Corbeille</a>
                    </li>
                </ul>
              </li>
              <li>
                  <a href="javascript: void(0);" aria-expanded="true"><i class="fi-layers"></i> 
                      <span> Propriete </span> <span class="menu-arrow"></span>
                  </a>
                  <ul class="nav-second-level collapse in" aria-expanded="true">
                    <li routerLinkActive="active" 
                        *ngxPermissionsOnly="['create_propriete']">
                        <a routerLink="/home/propriete/new" routerLinkActive="active" >Nouveau propriete</a>
                    </li>
                 <li routerLinkActive="active" 
                     *ngxPermissionsOnly="['display_propriete']">
                     <a routerLink="/home/propriete/liste" routerLinkActive="active" >Liste propriete</a>
                 </li>
                     <li routerLinkActive="active" *ngxPermissionsOnly="['restore']">
                        <a routerLink="/home/propriete/trash" routerLinkActive="active">Corbeille</a>
                    </li>
                  </ul>
               </li>
               <li class="menu-title">Plus</li>
               <li>
                <a href="javascript: void(0);" aria-expanded="true"><i class="fi-layers"></i> 
                    <span> Copropriete </span> <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse in" aria-expanded="true">
                   <li routerLinkActive="active"><a routerLink="/home/propriete/maj" routerLinkActive="active">Nouveau copropriete</a></li>
                   <li routerLinkActive="active"><a routerLink="/home/propriete/liste" routerLinkActive="active">Liste copropriete</a></li>
                   <li><a href="javascript: void(0);" aria-expanded="false">Copropriete primaire<span class="menu-arrow"></span></a>
                        <ul class="nav-third-level nav collapse" aria-expanded="false" style="height: 0px;">
                            <li><a href="javascript: void(0);">Nouveau</a></li>
                            <li><a href="javascript: void(0);">Liste</a></li>                            
                        </ul>
                    </li>
                </ul>
               </li>
               <li>
                <a href="javascript: void(0);" aria-expanded="true"><i class="fi-layers"></i> 
                    <span> Facture </span> <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse in" aria-expanded="true">
                   <li routerLinkActive="active"><a routerLink="/home/propriete/maj" routerLinkActive="active">Nouveau facture</a></li>
                   <li routerLinkActive="active"><a routerLink="/home/propriete/liste" routerLinkActive="active">Liste facture</a></li>
                </ul>
             </li>
             <li>
                <a href="javascript: void(0);" aria-expanded="true"><i class="fi-layers"></i> 
                    <span> Paiement </span> <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse in" aria-expanded="true">
                   <li routerLinkActive="active"><a routerLink="/home/propriete/maj" routerLinkActive="active">Nouveau paiement</a></li>
                   <li routerLinkActive="active"><a routerLink="/home/propriete/liste" routerLinkActive="active">Liste paiement</a></li>
                </ul>
             </li>
             <li>
                <a href="javascript: void(0);" aria-expanded="true"><i class="fi-layers"></i> 
                    <span> Syndic </span> <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse in" aria-expanded="true">
                   <li routerLinkActive="active"><a routerLink="/home/propriete/maj" routerLinkActive="active">Nouveau syndic</a></li>
                   <li routerLinkActive="active"><a routerLink="/home/propriete/liste" routerLinkActive="active">Liste syndic</a></li>
                </ul>
             </li>
             <li>
                <a href="javascript: void(0);" aria-expanded="true"><i class="fi-layers"></i> 
                    <span> Budget </span> <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse in" aria-expanded="true">
                   <li routerLinkActive="active"><a routerLink="/home/propriete/maj" routerLinkActive="active">Nouveau budget</a></li>
                   <li routerLinkActive="active"><a routerLink="/home/propriete/liste" routerLinkActive="active">Liste budget</a></li>
                </ul>
             </li>
           </ul>
        </div>
        <!-- Sidebar -->