<!-- Begin page -->
        <div id="wrapper"  *ngIf="globalObject.isLoggedIn">

            <app-global-sidebar></app-global-sidebar>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <app-topbar></app-topbar>

                <router-outlet></router-outlet>
                <app-footer></app-footer>

                <app-change-password></app-change-password>
                <app-modal-cop-exer></app-modal-cop-exer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
         </div>
         <!-- END wrapper -->
<!-- End page -->

<!-- Begin login page -->
    <div *ngIf="!globalObject.isLoggedIn">
        <app-login></app-login>
        <app-reset-passowrd></app-reset-passowrd>
        <app-register-modal></app-register-modal>
    </div>
<!-- End login page -->

<!-- Begin globale component -->
<ng-snotify></ng-snotify>
<ng4-loading-spinner [zIndex]="10005"></ng4-loading-spinner>
<ngx-loading-bar></ngx-loading-bar>
<!-- End globale component -->
