      <!-- Start Page content -->
      <div class="content">
        <div class="container-fluid">
           <div class="row">
              <div class="col-lg-4 offset-lg-8 text-right btn-space">
                 <p>
                    <button type="button" title="précédent" [routerLink]="['/home/user/edit', previous]" [disabled]="isEnd('previous')" [hidden]="isNew" class="btn btn-icon waves-light btn-pink pagination-maj"><i class="icon-arrow-left"></i></button>                                
                    <button type="button" title="suivant" [routerLink]="['/home/user/edit', next]" [disabled]="isEnd('next')" [hidden]="isNew" class="btn btn-icon waves-light btn-pink pagination-maj"><i class="icon-arrow-right"></i></button>
                 </p>
              </div>
           </div>
           <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <form class="was-validated" #userForm="ngForm" (ngSubmit)="onValidate(userForm)">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="nom">Nom <span class="text-danger">*</span></label>
                              <input type="text" placeholder="Entrer nom" 
                                     class="form-control" id="nom" 
                                     name="nom" [(ngModel)]="user.name" 
                                     #nom="ngModel" required>
                                    <ng-container *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                                                <div class="invalid-feedback" [hidden]="!nom.errors.required">
                                                            Veuillez entrer un nom
                                                </div>
                                    </ng-container>   
                            </div>
                            <div class="form-group col-md-6">
                              <label for="password">Mot de passe</label>
                              <input type="password" placeholder="Entrer Mot de passe" 
                                     class="form-control" id="password"
                                     name="password" [(ngModel)]="user.password"
                                     #password="ngModel">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">E-Mail <span class="text-danger">*</span></label>
                                <input type="email" placeholder="Entrer email" 
                                       class="form-control"
                                       name="email" id="email" 
                                       [(ngModel)]="user.email"
                                       email="true" required
                                       >
                            </div>
                            <div class="form-group col-md-6">
                              <label for="selectedRole">Role</label>
                              <ng-select 
                                [items]="listeRoles"
                                class="select-role"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Select Role"
                                [(ngModel)]="user.fk_roles"
                                notFoundText="Aucun élément trouvé"
                                name="selectedRole">
                              </ng-select>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row btn-space">
                              <div class="col-lg-4 offset-lg-4 text-center">
                              <button type="submit" class="btn btn-success btn-rounded waves-light" 
                                          [disabled]="!userForm.form.valid">Valider</button>
                              <button type="button" class="btn btn-danger btn-rounded waves-light"
                              (click)="onDelete()" [hidden]="isNew">Supprimer</button>
                              <button type="button" class="btn btn-outline-info btn-rounded waves-light" (click)="onCancel()">Annuler</button>
                              </div>
                        </div>
                        <!-- end row -->      
                  </form>
                </div>
            </div>
        </div>
      </div>
        <!-- container -->

     </div>
     
     <!-- content -->