<!-- Signup modal content -->
<div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
          <h2 class="text-uppercase text-center m-b-30">
              <a href="index.html" class="text-success">
                  <span><img src="assets/images/logo.png" alt="" height="28"></span>
              </a>
          </h2>

          <form class="form-horizontal" #registrationForm="ngForm">

              <div class="form-group m-b-25">
                  <div class="col-12">
                      <label for="username">Name</label>
                      <input class="form-control" name="name" id="name" ngModel required="" placeholder="ex: Samir Alami">
                  </div>
              </div>

              <div class="form-group m-b-25">
                  <div class="col-12">
                      <label for="emailaddress">Email address</label>
                      <input class="form-control" type="email" name="email" id="email" ngModel required="" placeholder="email@domaine.com">
                  </div>
              </div>

              <div class="form-group m-b-25">
                  <div class="col-12">
                      <label for="password">Password</label>
                      <input class="form-control" type="password" required="" name="password" id="password" ngModel placeholder="Enter your password">
                  </div>
              </div>

              <div class="form-group m-b-20">
                  <div class="col-12">
                      <div class="checkbox checkbox-custom">
                          <input id="termsCheckbox" name="termsCheckbox" type="checkbox" checked required="" ngModel>
                          <label for="termsCheckbox">
                              J'accepte <a href="#">Les termes et les conditions</a>
                          </label>
                      </div>
                  </div>
              </div>

              <div class="form-group account-btn text-center m-t-10">
                  <div class="col-12">
                      <button class="btn w-lg btn-rounded btn-primary waves-effect waves-light" type="submit" [disabled]="!registrationForm.form.valid" (click)="signUp(registrationForm)">S'inscrire</button>
                  </div>
              </div>

          </form>


        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->