      <!-- Start Page content -->
      <div class="content">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-4 offset-lg-8 text-right btn-space">
                     <p>
                        <button type="button" title="Précédent" [routerLink]="['/home/propriete/edit', previous]" [disabled]="isEnd('previous')" [hidden]="isNew" class="btn btn-icon waves-light btn-pink pagination-maj"><i class="icon-arrow-left"></i></button>                                
                        <button type="button" title="Suivant" [routerLink]="['/home/propriete/edit', next]" [disabled]="isEnd('next')" [hidden]="isNew" class="btn btn-icon waves-light btn-pink pagination-maj"><i class="icon-arrow-right"></i></button>
                     </p>
                  </div>
               </div>
               <form class="was-validated" #proprieteForm="ngForm" (ngSubmit)="onValidate(proprieteForm)">
                      <div class="row">
                            <div class="col-lg-6">
                            <div class="card-box">
                                  <div class="form-group">
                                        <label for="num_propriete">Num propriete <span class="text-danger">*</span></label>
                                        <input type="number" placeholder="Entrer Num propriete" 
                                               class="form-control" id="num_propriete"
                                               name="num_propriete" [(ngModel)]="propriete.num_propriete" 
                                               #num_propriete="ngModel" required>
                                              <ng-container *ngIf="num_propriete.invalid && (num_propriete.dirty || num_propriete.touched)">
                                                          <div class="invalid-feedback" [hidden]="!num_propriete.errors.required">
                                                                      Veuillez entrer un num propriete
                                                          </div>
                                              </ng-container>
                                  </div>
                                  <div class="form-group">
                                        <label for="type_copropriete">Type copropriete</label>
                                        <input type="text" placeholder="Entrer Type copropriete" 
                                               class="form-control" 
                                               name="type_copropriete" id="type_copropriete" 
                                               [(ngModel)]="propriete.type_copropriete"
                                               >
                                  </div>
                                  <div class="form-group">
                                        <label for="batiment">Batiment</label>
                                        <input type="text" placeholder="Entrer Batiment" 
                                               class="form-control" id="batiment"
                                               name="batiment" [(ngModel)]="propriete.batiment" 
                                               #batiment="ngModel">
                                  </div>
                                  <div class="form-group">
                                        <label for="etage">Etage</label>
                                        <input type="number" placeholder="Entrer Etage" 
                                               class="form-control" 
                                               name="etage" id="etage" 
                                               [(ngModel)]="propriete.etage"
                                               #etage="ngModel">
                                  </div>
                                  <div class="form-group">
                                        <label for="num_titre">Num titre</label>
                                        <input type="text" placeholder="Entrer Num titre" 
                                               class="form-control" 
                                               name="num_titre" id="num_titre" 
                                               [(ngModel)]="propriete.num_titre"
                                               #num_titre="ngModel">
                                  </div>
                                   <div class="form-group">
                                        <label for="surface">Surface</label>
                                        <input type="text" placeholder="Entrer surface" 
                                               class="form-control" 
                                               name="surface" id="surface" 
                                               [(ngModel)]="propriete.surface"
                                               #surface="ngModel">
                                  </div>
                                  <div class="form-group">
                                        <label for="quote_par_terrain">Quote par terrain</label>
                                        <input type="number" placeholder="Entrer Quote par terrain" 
                                               class="form-control" 
                                               name="quote_par_terrain" id="quote_par_terrain" 
                                               [(ngModel)]="propriete.quote_par_terrain"
                                               #quote_par_terrain="ngModel">
                                  </div>
                            </div>
                            </div>

                            <!-- end col -->
                            <div class="col-lg-6">
                            <div class="card-box">
                                  <div class="form-group">
                                        <label for="pt_indivision">Pt. indivision</label>
                                        <input type="number" placeholder="Entrer pt. indivision" 
                                               class="form-control" 
                                               name="pt_indivision" id="pt_indivision" 
                                               [(ngModel)]="propriete.pt_indivision"
                                               #pt_indivision="ngModel">
                                  </div>
                                  <div class="form-group">
                                        <label for="voix">Voix</label>
                                        <input type="text" placeholder="Entrer voix" 
                                               class="form-control" 
                                               name="voix" id="voix" 
                                               [(ngModel)]="propriete.voix"
                                               #voix="ngModel">
                                  </div>
                                  <div class="form-group">
                                        <label for="taux_tantiem">Taux tantiem</label>
                                        <input type="text" placeholder="Entrer taux tantiem" 
                                               class="form-control" 
                                               name="taux_tantiem" id="taux_tantiem" 
                                               [(ngModel)]="propriete.taux_tantiem"
                                               #taux_tantiem="ngModel">
                                  </div>
                                  <div class="form-group">
                                        <label for="type_utilisation">Type utilisation</label>
                                        <input type="text" placeholder="Entrer type utilisation" 
                                               class="form-control" 
                                               name="type_utilisation" id="type_utilisation" 
                                               [(ngModel)]="propriete.type_utilisation"
                                               #type_utilisation="ngModel">
                                  </div>
                                  <div class="form-group">
                                    <label for="n_tourne">N. tourne</label>
                                    <input type="number" placeholder="Entrer N. tourne" 
                                           class="form-control" 
                                           name="n_tourne" id="n_tourne" 
                                           [(ngModel)]="propriete.n_tourne"
                                           #n_tourne="ngModel">
                              </div>
                              <div class="form-group">
                                    <label for="police_eau">Police eau</label>
                                    <input type="text" placeholder="Entrer police eau" 
                                           class="form-control" 
                                           name="police_eau" id="police_eau" 
                                           [(ngModel)]="propriete.police_eau"
                                           #police_eau="ngModel">
                              </div>
                              <div class="form-group">
                                    <label for="article_impot">Article impot</label>
                                    <input type="text" placeholder="Entrer article impot" 
                                           class="form-control"
                                           name="article_impot" id="article_impot" 
                                           [(ngModel)]="propriete.article_impot"
                                           #article_impot="ngModel">
                              </div>
                            </div>
                            </div>
                            <!-- end col -->
                            </div>
                             <!-- end col -->
                            <!-- end row -->
                            <div class="row">
                                    <div class="col-lg-12">
                                          <div class="card-box">
                                                <div class="form-group">
                                                      <label for="commentaire">Commentaire</label>
                                                      <textarea type="text" placeholder="Entrer Commentaire" 
                                                            class="form-control"
                                                            name="commentaire" id="commentaire" 
                                                            [(ngModel)]="propriete.commentaire"
                                                            #commentaire="ngModel"></textarea>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <!-- End Row -->
                            <div class="row btn-space">
                                  <div class="col-lg-4 offset-lg-4 text-center">
                                  <button type="submit" class="btn btn-success btn-rounded waves-light" 
                                          [disabled]="!proprieteForm.form.valid"
                                          *ngxPermissionsOnly="['create_propriete', 'update_propriete']">Valider</button>
                                  <button type="button" class="btn btn-danger btn-rounded waves-light" 
                                  (click)="onDelete()" [hidden]="isNew"
                                  *ngxPermissionsOnly="['delete_propriete']">Supprimer</button>
                                  <button type="button" class="btn btn-outline-info btn-rounded waves-light" (click)="onCancel()">Annuler</button>
                                  </div>
                            </div>
                            <!-- end row -->
                </form>
          </div>
            <!-- container -->

         </div>
         
         <!-- content -->