<!-- Top Bar Start -->
 <div class="topbar">
    <nav class="navbar-custom">
       <ul class="list-unstyled topbar-right-menu float-right mb-0">
        <li class="hide-phone app-search">
              <!-- <form>
                <input type="text" placeholder="Search..." class="form-control">
                <button type="submit"><i class="fa fa-search"></i></button>
                <button (click)='tst()'>Test</button>
             </form>  -->
          </li>
          <li class="hide-phone app-search cop-exer copropriete-input">
            <ng-select 
            [items]="listeCoproprietes"
            class="select-copropriete"
            bindLabel="nom"
            bindValue="id_copropriete_primaire"
            placeholder="Select coproptietaire"
            (change)="onChangeCopropriete($event)"
            [(ngModel)]="selectedCopropriete">
            </ng-select>
          <li class="hide-phone app-search cop-exer exercice-input">
            <ng-select 
            [items]="listeExercice"
            class="select-exercice"
            bindLabel="exercice"
            bindValue="exercice"
            placeholder="Select exercice"
            (change)="onChangeExercice($event)"
            [(ngModel)]="selectedExercice">
            </ng-select>
          </li>
          <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none" title="Menu" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">
                <i class="fi-layers noti-icon"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">
                <div class="slimscroll" style="max-height: 230px;">
                    <!-- Begin Item-->
                    
                    <a *ngxPermissionsOnly="['module_comptabilite']"
                        routerLink="comptabilite" 
                        class="dropdown-item notify-item">
                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account-outline"></i></div>
                        <p class="notify-details">Comptabilité</p>
                    </a>
                    <!-- End Item -->
                    <!-- Begin Item-->
                    <a routerLink="rapport" class="dropdown-item notify-item">
                        <div class="notify-icon bg-danger"><i class="mdi mdi mdi-account-key"></i></div>
                        <p class="notify-details">Rapports</p>
                    </a>
                    <!-- End Item -->
                </div>
            </div>
          </li>
          <li class="dropdown notification-list">
                 <a id="fullscreen" class="nav-link dropdown-toggle arrow-none" href="javascript:void(0)" role="button"  aria-haspopup="false" aria-expanded="false">
                     <i class="fi-expand noti-icon"></i>
                 </a>
             </li>
          <li class="dropdown notification-list">
             <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
             <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> <span class="ml-1">{{ globalObject.userLoggedIn }}<i class="mdi mdi-chevron-down"></i> </span>
             </a>
             <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown" x-placement="bottom-end" style="position: absolute; transform: translate3d(-32px, 70px, 0px); top: 0px; left: 0px; will-change: transform;">
                <!-- item-->
                <div class="dropdown-item noti-title">
                   <h6 class="text-overflow m-0">Bienvenue !</h6>
                </div>
                <!-- item-->
                <a routerLink="/" routerLinkActive="active" class="dropdown-item notify-item">
                <i class="fi-monitor"></i> <span>Tableau de bord</span>
                </a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fi-cog"></i> <span>Paramétres</span>
                </a>
                <!-- item-->
                <a data-toggle="modal" data-target="#changePassword-modal"
                href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fi-unlock"></i> <span>Changer passe</span>
                </a>
                <!-- item-->
                <a data-toggle="modal" data-target="#changeCoproprieteExercice-modal"
                href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fi-briefcase"></i> <span>Changer Cop./Exer.</span>
                </a>
                <!-- item-->
                <a href="javascript:void(0);" routerLink="home/permissions-roles/liste"
                   class="dropdown-item notify-item">
                <i class="fi-ban"></i><span>Permissions</span>
                </a>
                <!-- item-->
                <a href="javascript:void(0);" routerLink="home/activity-log/liste"
                   class="dropdown-item notify-item">
                <i class="fi-clock"></i><span>Activités</span>
                </a>
                <!-- item-->
                <a href="javascript:void(0);" routerLink="home/user/liste"
                   class="dropdown-item notify-item">
                    <i class="fi-head"></i><span>Géstion d'utilisateur</span>
                </a>
                <!-- item-->
                <a  (click)="onLogout()" href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fi-power"></i> <span>Logout</span>
                </a>
             </div>
          </li>
       </ul>
       <ul class="list-inline menu-left mb-0">
          <li class="float-left">
             <button class="button-menu-mobile open-left">
             <i class="dripicons-menu"></i>
             </button>
          </li>
          <li>
             <div class="page-title-box">
                <h4 class="page-title">{{globalObject.title}}</h4>
                <ol class="breadcrumb">
                   <li *ngFor="let item of globalObject.breadcrumb" class="breadcrumb-item">{{item}}</li>
                </ol>
             </div>
          </li>
       </ul>
    </nav>
 </div>
<!-- Top Bar End -->
<!-- <button (click)="test_refresh()">Test Refresh Token</button> -->