      <!-- Start Page content -->
            <div class="content">
              <div class="container-fluid">
                 <div class="row">
                    <div class="col-lg-4 offset-lg-8 text-right btn-space">
                       <p>
                          <button type="button" title="précédent" [routerLink]="['/home/proprietaire/edit', previous]" [disabled]="isEnd('previous')" [hidden]="isNew" class="btn btn-icon waves-light btn-pink pagination-maj"><i class="icon-arrow-left"></i></button>                                
                          <button type="button" title="suivant" [routerLink]="['/home/proprietaire/edit', next]" [disabled]="isEnd('next')" [hidden]="isNew" class="btn btn-icon waves-light btn-pink pagination-maj"><i class="icon-arrow-right"></i></button>
                       </p>
                    </div>
                 </div>

                <div class="row">
                 <div class="col-md-12">
                      <!-- Begin Nav-tabs -->
                      <ul class="nav nav-tabs tabs-bordered nav-justified">
                          <li class="nav-item">
                              <a id="nav-btn-detail-edit" href="#detail-edit" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                 Détails
                              </a>
                          </li>
                          <li class="nav-item">
                              <a id="nav-btn-proprietes-affectes" href="#proprietes-affectes-edit" data-toggle="tab" aria-expanded="true" class="nav-link" [ngClass]="{'disabled': isNew}">
                                  Propriétés afféctés
                              </a>
                          </li>
                      </ul>
                      <!-- End Nav-tabs -->

                      <!-- Begin tab-content -->
                      <div class="tab-content prop-tab-content">
                          <!-- Begin tab-pane -->
                          <div class="tab-pane show active" id="detail-edit">
                              <form class="was-validated" #proprietaireForm="ngForm" (ngSubmit)="onValidate(proprietaireForm)">
                                    <div class="row">
                                          <div class="col-lg-6">
                                                <div class="form-group">
                                                      <label for="nom">Nom <span class="text-danger">*</span></label>
                                                      <input type="text" placeholder="Entrer nom" 
                                                             class="form-control" id="nom" 
                                                             name="nom" [(ngModel)]="proprietaire.nom" 
                                                             #nom="ngModel" required>
                                                            <ng-container *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                                                                        <div class="invalid-feedback" [hidden]="!nom.errors.required">
                                                                                    Veuillez entrer un nom
                                                                        </div>
                                                            </ng-container>
                                                </div>
                                                <div class="form-group">
                                                      <label for="prenom">Prenom</label>
                                                      <input type="text" placeholder="Entrer prenom" 
                                                             class="form-control" 
                                                             name="prenom" id="prenom" 
                                                             [(ngModel)]="proprietaire.prenom"
                                                             >
                                                </div>
                                                <div class="form-group">
                                                      <label for="cin">CIN</label>
                                                      <input type="text" placeholder="Entrer CIN" 
                                                             class="form-control" id="cin" 
                                                             name="cin" [(ngModel)]="proprietaire.cin" 
                                                             #cin="ngModel">
                                                </div>
                                                <div class="form-group">
                                                      <label for="profession">Profession</label>
                                                      <input type="text" placeholder="Entrer profession" 
                                                             class="form-control" 
                                                             name="profession" id="profession" 
                                                             [(ngModel)]="proprietaire.profession"
                                                             #profession="ngModel">
                                                </div>
                                                <div class="form-group">
                                                      <label for="titre">Titre</label>
                                                      <input type="text" placeholder="Entrer titre" 
                                                             class="form-control" 
                                                             name="titre" id="titre" 
                                                             [(ngModel)]="proprietaire.titre"
                                                             #titre="ngModel">
                                                </div>
                                                 <div class="form-group">
                                                      <label for="ville">Ville</label>
                                                      <input type="text" placeholder="Entrer Ville" 
                                                             class="form-control" 
                                                             name="ville" id="ville" 
                                                             [(ngModel)]="proprietaire.ville"
                                                             #ville="ngModel">
                                                </div>
                                          </div>
                  
                                          <!-- end col -->
                                          <div class="col-lg-6">
                                                <div class="form-group">
                                                      <label for="email_1">Email 1</label>
                                                      <input type="text" placeholder="Entrer Email 1" 
                                                             class="form-control" 
                                                             name="email_1" id="email_1" 
                                                             [(ngModel)]="proprietaire.email_1"
                                                             #email_1="ngModel">
                                                </div>
                                                <div class="form-group">
                                                      <label for="email_2">Email 2</label>
                                                      <input type="text" placeholder="Entrer Email 2" 
                                                             class="form-control" 
                                                             name="email_2" id="email_2" 
                                                             [(ngModel)]="proprietaire.email_2"
                                                             #email_2="ngModel">
                                                </div>
                                                <div class="form-group">
                                                      <label for="tel_1">Tel 1</label>
                                                      <input type="text" placeholder="Entrer Tel 1" 
                                                             class="form-control" 
                                                             name="tel_1" id="tel_1" 
                                                             [(ngModel)]="proprietaire.tel_1"
                                                             #tel_1="ngModel">
                                                </div>
                                                <div class="form-group">
                                                      <label for="tel_2">Tel 2</label>
                                                      <input type="text" placeholder="Entrer Tel 2" 
                                                             class="form-control" 
                                                             name="tel_2" id="tel_2" 
                                                             [(ngModel)]="proprietaire.tel_2"
                                                             #tel_2="ngModel">
                                                </div>
                                                <div class="form-group">
                                                      <label for="code_postale">Code postale</label>
                                                      <input type="number" placeholder="Entrer Code postale" 
                                                             class="form-control" 
                                                             name="code_postale" id="code_postale" 
                                                             [(ngModel)]="proprietaire.code_postale"
                                                             #code_postale="ngModel">
                                                </div>
                                                <div class="form-group">
                                                            <label for="adresse_1">Adresse 1</label>
                                                            <input type="text" placeholder="Entrer Adresse 1" 
                                                                        class="form-control" 
                                                                        name="adresse_1" id="adresse_1" 
                                                                        [(ngModel)]="proprietaire.adresse_1"
                                                                        #adresse_1="ngModel">
                                                </div>
                                          </div>
                                          <!-- end col -->
                                          </div>

                                          <!-- end row -->
                                          <div class="row">
                                                <div class="col-lg-12">
                                                      <div class="form-group">
                                                            <label for="adresse_2">Adresse 2</label>
                                                            <input type="text" placeholder="Entrer Adresse 2" 
                                                                        class="form-control" 
                                                                        name="adresse_2" id="adresse_2" 
                                                                        [(ngModel)]="proprietaire.adresse_2"
                                                                        #adresse_2="ngModel">
                                                      </div>
                                                      <div class="form-group">
                                                            <label for="description">Description</label>
                                                            <textarea type="text" placeholder="Entrer Description" 
                                                                  class="form-control" 
                                                                  name="description" id="description" 
                                                                  [(ngModel)]="proprietaire.description"
                                                                  #description="ngModel">
                                                            </textarea>
                                                      </div>
                                                </div>
                                          </div>
                                          <!-- end row -->
                                          <div class="row btn-space">
                                                <div class="col-lg-4 offset-lg-4 text-center">
                                                <button type="submit" class="btn btn-success btn-rounded waves-light" 
                                                        [disabled]="!proprietaireForm.form.valid"
                                                        *ngxPermissionsOnly="['create_proprietaire', 'update_proprietaire']">Valider</button>
                                                <button type="button" class="btn btn-danger btn-rounded waves-light" 
                                                (click)="onDelete()" [hidden]="isNew"
                                                *ngxPermissionsOnly="['delete_proprietaire']">Supprimer</button>
                                                <button type="button" *ngIf="isNew" class="btn btn-outline-secondary btn-rounded waves-light" 
                                                [disabled]="!proprietaireForm.form.valid" (click)="onNextStep(proprietaireForm)">Suivant</button>
                                                <button type="button" class="btn btn-outline-info btn-rounded waves-light" (click)="onCancel()">Annuler</button>
                                                </div>
                                          </div>
                                          <!-- end row -->
                              </form>
                          </div> 
                          <!-- End tab-pane -->

                          <!-- Begin tab-pane -->
                          <div class="tab-pane" id="proprietes-affectes-edit">
                              <app-assigned-propriete [parentParams]="paramsFromParent"></app-assigned-propriete>
                          </div>
                          <!-- End tab-pane -->
                          
                      </div> 
                      <!-- END tab-content -->
              </div> <!-- end col -->
            </div> <!-- end row -->
            </div>
              <!-- container -->

           </div>
           
           <!-- content -->