            <!-- Start Page content -->
            <div class="content">
              <div class="container-fluid">
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="card-box">
                          <div class="mb-3">
                             <div class="row">
                                <div class="col-8 text-sm-center form-inline">
                                   <div class="form-group mr-2">
                                      <a routerLink="/home/propriete/new"
                                         *ngxPermissionsOnly="['create_proprietaire']"
                                         id="btn-addrow" 
                                         class="btn btn-primary">
                                          <i class="mdi mdi-plus-circle mr-2"></i> 
                                          Ajouter
                                      </a>
                                   </div>
                                   <div class="form-group">
                                      <input id="input-search" type="text" 
                                             name='keyword' [(ngModel)]='keyword' (keyup)='onKeyp($event)'
                                             placeholder="Chercher" class="form-control" autocomplete="off">
                                   </div>
                                </div>
                                <div class="col-4">
                                        <div class="pull-right">
                                                <button type="button" [hidden]="!isRowsSelected"
                                                        class="btn btn-danger waves-light waves-effect"
                                                        (click)='onDeleteSeletedRows()'>
                                                        Supprimer sélections
                                                </button>
                                        </div>
                                </div>
                             </div>
                          </div>
                          <ag-grid-angular 
                              #agGrid
                              style="width: 100%; height: 600px;" 
                              class="ag-theme-material"
                              [enableSorting]="true"
                              [enableFilter]="true"
                              [rowData]="rowData" 
                              [columnDefs]="columnDefs"
                              [enableColResize]="true"
                              [localeText]="globalObject.localeText"
                              [getRowNodeId]="getRowNodeId"
                              rowSelection="multiple"
                              pagination=true
                              paginationPageSize=10
                              (rowClicked)="onRowClicked($event)"
                              (rowDoubleClicked) = "onDoubleRowClicked($event)"
                              (rowSelected) = "onRowSelected($event)"
                              (gridReady)="onGridReady($event)"
                              >
                          </ag-grid-angular>
                       </div>
                    </div>
                 </div>
                 <!-- end row -->
              </div>
              <!-- container -->
           </div>
           <!-- content -->